.container {
    max-width: 1120px;
    margin: auto;
    padding: 0 calc(50% - 560px);
    &-xs{
        max-width: 256px;
        padding: 0 calc(50% - 560px);
    }
    &-sm{
        max-width: 448px;
        padding: 0 calc(50% - 560px);
    }
    &-md{
        max-width: 736px;
        padding: 0 calc(50% - 560px);
    }
}