.header {
    $self: &;
    &__container{
        @extend .bg-color-primary;
        @extend .font-primary;
        @extend .font-size-md;
        @extend .font-color-white;
    }

    &__content{
        min-height: 100%;
        height: 88px;
        @extend .flex;
        @extend .flex--justify-space-between;
        @extend .flex--align-center
    }
    
    &--fixed{
        padding-bottom: 88px;
        #{$self}__container{
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1;
        }
    }
}