.logo {
    display: flex;
    align-items: center;
    @extend .font-bold;
    &-img{
        background-image: url("/src/img/logo.svg");
        background-position: center;
        background-repeat: no-repeat;
        min-width: 31px;
        min-height: 56px;
        padding-right: 21px;
    }
}