    $color-success: #1BC400;
    $color-warning: #FFF5E6;
    $color-primary: #3684E2;
    $color-secondary: #E5E5E5;
    $color-disabled: #F5F5F7;
    $button-color-primary: #0061D9;
    $button-color-secondary: #0050B2;
    $color-white: #FFFFFF;
    $color-grey: #3B4256;
    $color-grey-light: #BCC3CA;
    $color-muted: #848E99;