.bg-color-primary {
    background-color: $color-primary;
}
.bg-color-secondary {
    background-color: $color-secondary;
}
.bg-color-success {
    background-color: $color-success;
}
.bg-color-white {
    background-color: $color-white;
}

